{% extends 'base.html' %}

{% block content %}

{% if error and error_msg %}
    <div class="alert {{ error }}"> {{ error_msg }}</div>
{% endif %}

<h1>Add Profile</h1>

<form method="POST" action="/properties/" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <!-- Form Fields -->
    <div class="form-group">
        {{ form.propTitle.label }}
        {{ form.propTitle(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.desc.label }}
        {{ form.desc(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.rooms.label }}
        {{ form.rooms(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.btroom.label }}
        {{ form.btroom(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.price.label }}
        {{ form.prce(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.pType.label }}
        {{ form.pType(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.locale.label }}
        {{ form.locale(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.picture.label }}
        {{ form.picture(class="form-control-file") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}

<form>

{% endblock %}